<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCwN6PHSYo_73QoR3hlhxolSdonJITQHl0</string>
	<key>GCM_SENDER_ID</key>
	<string>1073909137814</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.quaos.test-expo-ssl-pinning-1</string>
	<key>PROJECT_ID</key>
	<string>qtestfirebase</string>
	<key>STORAGE_BUCKET</key>
	<string>qtestfirebase.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1073909137814:ios:76be549d5046b72d575db7</string>
	<key>DATABASE_URL</key>
	<string>https://qtestfirebase.firebaseio.com</string>
</dict>
</plist>